@page "/"
@using Tewr.Blazor.FileReader
@using System.IO;
@inject IFileReaderService fileReaderService;
@inject IJSRuntime JS

<p>
    <img id="image" />
</p>
<InputFile OnChange="@OnInputFileChange" accept="image/*" capture />


<h3>@Message</h3>
@code {
    ElementReference ReferenceToInputControl;
    string Message = "No file(s) selected";
    IReadOnlyList<IBrowserFile>? selectedFiles;
    @* private IFileReference? file; *@

    private async Task OnInputFileChange()
    {
        var file = (await fileReaderService.CreateReference(ReferenceToInputControl).EnumerateFilesAsync()).FirstOrDefault();
        var fileInfo = await file.ReadFileInfoAsync();
        Message = fileInfo.Name;
        await using (Stream stream = await file.OpenReadAsync())
        {
            var dotnetImageStream = new DotNetStreamReference(stream);
            await JS.InvokeVoidAsync("setImage", "image", dotnetImageStream);
        }
    }
}