@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using System.IO
@inject ILogger<Index> Logger
@inject IJSRuntime JS


<p>
    <img id="image" />
</p>
<InputFile OnChange="@LoadFiles" accept="image/*" capture />

@code {
    long maxFileSize = 1024 * 1024 * 15;
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
            var ImageFile = await e.File.RequestImageFileAsync("image/*",maxHeight: 640,maxWidth: 480);
            await using (Stream stream = ImageFile.OpenReadStream(maxFileSize))
                {
                    var dotnetImageStream = new DotNetStreamReference(stream);
                    await JS.InvokeVoidAsync("displayImage", "image", dotnetImageStream);
                }
    }
}