@page "/js"
@inject IJSRuntime JSRuntime

<button @onclick=ButtonClicked>Perform interop</button>

@code
{
  private async Task ButtonClicked()
  {
    var note = new Models.Note
    {
      title = "good",
      description = "hello every description",
    };
    await JSRuntime.InvokeVoidAsync("setNote",note);
  }
}